<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.crecrew.crecre">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
            android:name=".Network.ApplicationController"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_custom"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".UI.Activity.LoginActivity">

        </activity>
        <activity android:name=".UI.Activity.ProfileJoinStatActivity">
        </activity>
        <activity android:name=".UI.Activity.Community.CommunityWriteActivity">
        </activity>
        <activity android:name=".UI.Activity.Community.CommunityRequestActivity">
        </activity>
        <activity android:name=".UI.Activity.Community.CommunityDetailActivity">
        </activity>
        <activity android:name=".UI.Activity.Community.CommunityHotPostActivity">
        </activity>
        <activity android:name=".UI.Activity.MainActivity">
        </activity>
        <activity android:name=".UI.Activity.CreatorProfileActivity"/>
        <activity android:name=".UI.Activity.Community.CommunitySearchActivity"/>
        <activity android:name=".UI.Activity.VoteSuggestActivity"/>
        <activity android:name=".UI.Activity.CreatorSearchActivity"/>
        <activity android:name=".UI.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name=".UI.Activity.SignupActivity"/>
        <activity android:name=".UI.Activity.SignupCompleteActivity"/>
    </application>

</manifest>